body {
    background-image: url("images/homejpg.jpeg");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
    z-index: -1;
  }
  
  body:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0.7, 0.5, 0.1, 0.1);
    pointer-events: none;
    background-blend-mode: darken;
    z-index: -1;
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #6F8FAF;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }
  .navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 5%;
    padding-right: 48%;
    margin-right: 5px;
  }
  /* .icon{
    padding-right: 3%;
  } */
  .navbar .navbar-nav .nav-link {
    color: white;
    font-size: 1.15em;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #ADD8E6;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
    color: white;
  }
  /* .nav-item{
    padding-right: 1%;
  } */
  .header-text {
    color: orange;
    margin-left: 30%;
    margin-top: 19%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .header-text p span {
    color: whitesmoke;
  }
  .a {
    margin-left: -190px;
    font-size: 50px;
  }
  .b{
    margin-left: 90px;
    font-size: 45px;
  }
  .c {
    margin-left: 80px;
    margin-top: 10px;
    font-size: 20px;
  }
  .btn {
    background-color: green;
    color: red;
    margin-left: 630px;
  }
  form {
    margin-top: 50px;
    margin-left: 10px;
  }
  .PaymentButton--rzpTheme.svelte-ekc7fv.svelte-ekc7fv:hover{
    transform: scale(1.5);
    transition: all 0.3s;
  }
  .PaymentButton--rzpTheme.svelte-ekc7fv.svelte-ekc7fv::after{
    transition: all 0.5s;
  }
  footer.links {
    background-color: black;
    margin-top: 10rem;
    margin-bottom: 0px;
    padding: 1% 45%;
    color: white;
  }
  .fa{
    padding: 6%;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 45%;
    margin-bottom: 10%;
    margin-right: 5%;
  }
  .fa:hover {
    opacity: 0.7;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #3f729b;
    color: white;
  }
  footer p{
    background-color: black;
    padding-left: 32% ;
    padding-bottom: 2%;
    color: white;
    margin: 0%;
  }
  .logo{
      width: 60px;
      height: 60px;
      padding: 0%;
  }






  @media (max-width: 450px){
    body {
      background-size:100rem;
    }
  .header-text .a b{
    margin-left:2rem;
    font-size: 2rem;
  }
  .header-text .a b span{
    margin-left:1rem;
  }
  .header-text .b b{
    margin-left: 1rem;
    margin-top: 1em;
  }
  .header-text .b b span{
    margin-left: 1rem;
  }
  .header-text .b b span a{
    margin-left: 0.7rem;
  }
  .header-text .c b{
    font-size: 0.9rem;
    margin-left: -11.5rem;
    margin-top: rem;
  }
  form{
    margin-top: 4rem;
  }
  .PaymentButton--rzpTheme.svelte-ekc7fv.svelte-ekc7fv::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    width: 54px;
    height: 100%;
    background: orange;
    border-radius: 1px 0 0 2px;
    transform: skew(-19deg,0);
  }
  }








  @media (max-width: 800px)and(min-width:451px){
    body {
      background-size:178rem;
    }
  .header-text .a b{
    margin-left:2.5rem;
    font-size: 3rem;
  }
  .header-text .a b span{
    margin-left:1.5rem;
  }
  .header-text .b b{
    font-size: 2.5rem;
    margin-left: -9.5rem;
    color: #ffc107;
  }
  .header-text .b b span{
    margin-left: 1rem;
  }
  .header-text .b b span a{
    margin-left: 0.7rem;
  }
  .header-text .c b{
    font-size: 1.5rem;
    margin-left: -13rem;
    margin-top: rem;
  }
  form{
    margin-top: 10rem;
  }
  .PaymentButton--rzpTheme.svelte-ekc7fv.svelte-ekc7fv::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    width: 54px;
    height: 100%;
    background: orange;
    border-radius: 1px 0 0 2px;
    transform: skew(-19deg,0);
  }
  }

